<div class="container chatroom"
  data-controller="chatroom-subscription"
  data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>"
  data-chatroom-subscription-current-user-id-value="<%= current_user.id %>"
>
  <h1><%= @chatroom.name %></h1>
  <div class="messages" style="height: 800px" data-chatroom-subscription-target="messages">
    <% @chatroom.messages.each do |message| %>
      <div class="message-row d-flex <%= message.sender?(current_user) ? 'text-right' : 'text-left' %>">
        <div class="<%= message.sender?(current_user) ? 'sender-style' : 'receiver-style' %>">
          <%= render "messages/message", message: message %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="messages" data-chatroom-subscription-target="messages">
  <h1>Chat</h1>
  <%= simple_form_for [@chatroom, @message],
  html: { data: { action: "turbo:submit-end->chatroom-subscription#resetForm" }, class: "d-flex" } do |f| %>

  <%= f.input :content,
    label: false,
    placeholder: "Message here...",
    wrapper_html: {class: "flex-grow-1"},
    input_html: {style: "background-color: white;"}
  %>
    <div class="inline-items">
      <%=  link_to "Go Back", root_path, class: "btn btn-primary" %>
      <%= f.submit "Send", class: "btn btn-primary" %>

    </div>
  </div>

<% end %>


</div>

<div class="icon-bar">
    <%= link_to ('<i class="fa fa-home"></i>').html_safe, root_path %>
    <%= link_to ('<i class="fa fa-heart"></i>').html_safe, toggle_favorite_user_path %>
    <%= link_to ('<i class="fa fa-envelope"></i>').html_safe, chatroom_path %>
    <%= link_to ('<i class="fa fa-search"></i>').html_safe, new_user_session_path %>
  </div>
