<div>
  <div class= "user-profile">
    <div id="demo" class="carousel slide d-flex justify-content-center" data-bs-ride="carousel">
      <!-- Indicators/dots -->
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
        <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
        <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
      </div>

      <!-- The slideshow/carousel -->
    <div class="carousel-inner" style="padding: 4px 4px 4px 4px; width:  310px; height: 400px;">
      <div class="carousel-item active">
       <div class="position-relative">
          <img src="https://drifttravel.com/wp-content/uploads/2017/08/Royal_Caribbean_Shay_Mitchell-300x350.jpg" alt="Me" style="border-radius: 5px; object-fit: cover; width:  310px; height: 400px;" >
          <div class="position-absolute bottom-0 start-0 m-3" style="padding-bottom: 20px;">
           <h2 style="font-weight:bold; color: #ffffff;"><span><%= @user.first_name %></span> <span><%= @user.last_name %></span>, <span><%= @user.age %></span></h2>
          </div>
       </div>
      </div>

        <div class="carousel-item">
         <div class="position-relative">
          <img src="https://media.glamour.com/photos/5704338973eb5f7a37a3900d/master/w_1600,c_limit/weddings-2016-03-11-v-shay-mitchell-vacation-pictures-0314-courtesy-shay-mitchell-main.jpg" alt="Me" style="border-radius: 5px; object-fit: cover; width:  310px; height: 400px;" >
          <div class="position-absolute bottom-0 start-0 m-3" style="padding-bottom: 20px;">
           <h2 style="font-weight:bold; color: #ffffff;"><span><%= @user.first_name %></span> <span><%= @user.last_name %></span>, <span><%= @user.age %></span></h2>
          </div>
         </div>
        </div>

        <div class="carousel-item">
         <div class="position-relative">
          <img src="https://www.royalcaribbean.com/connect/wp-content/uploads/2017/10/Shay-On-A-Ship-High-Res.jpg" alt="Me" style="border-radius: 5px; object-fit: cover; width:  310px; height: 400px;" >
          <div class="position-absolute bottom-0 start-0 m-3" style="padding-bottom: 20px;">
           <h2 style="font-weight:bold; color: #ffffff;"><span><%= @user.first_name %></span> <span><%= @user.last_name %></span>, <span><%= @user.age %></span></h2>
          </div>
         </div>
        </div>
       </div>

      <!-- Left and right controls/icons -->
      <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
      </button>
    </div>

    <!-- bio -->
    <div class="mt-3 p-2 bd-highlight d-flex justify-content-center" style="border: 1px;">
     <div class="profile-section">
    <div class="bio-header mt-3" style="display: flex; align-items: center; justify-content: space-between;">
      <div>
        <p>📍 Hoxton, London</p>
      </div>
      <h2><%= render "like_button" %></h2>
    </div>
    <div class="bio-card">
      <div class="bio-card_icon d-flex">
        <div class="icon">
          <i class="fa-solid fa-venus"></i> <%= @user.gender %>
        </div>
        <br>
        <div class="icon px-3">
          <i class="fa-solid fa-star"></i> <%= @user.horoscope %>
        </div>
        <br>
        <div class="icon">
          <i class="fa-solid fa-briefcase"></i> <%= @user.profession %>
        </div>
        <br>
      </div>
      <p class="user-bio"><%= @user.bio %></p>


       <!--  display a list of interests and their corresponding icons. -->
      <div class="user-interests_section">
        <h3 style="margin-top: 10x;">Interests: </h3>
        <div class="user-interests-category">
          <% @interests.each do |interest| %>
            <div class="user-interest">
              <% icon_name = icon_name_for_interest(interest) %>
              <% if icon_name %>
                <%# <span class="user-interests_category"> %>
                  <i class="fas fa-<%=icon_name%>"></i>
                  <%= interest.name %>
                <%# </span> %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
     </div>
    </div>
  </div>

</div>
  <div class="icon-bar">
    <%= link_to ('<i class="fa fa-home"></i>').html_safe, root_path %>
    <%= link_to ('<i class="fa fa-heart"></i>').html_safe, toggle_favorite_user_path %>
    <%= link_to ('<i class="fa fa-envelope"></i>').html_safe, chatroom_path(@user) %>
    <%= link_to ('<i class="fa fa-search"></i>').html_safe, new_user_session_path %>
  </div>
